<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          Invoice Header
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="d-flex flex-column h-100">
  <h6 class="py-2 my-0 mb-4 text-center font-lg fw-bold">Invoice Header List</h6>

  <div class="p-2 flex-grow-1 overflow-auto text-black rounded">
    <table class="w-100 mb-4" *ngFor="let invoice of invoiceList">
      <thead >
        <th class="text-left">
          Main Contact
        </th>
        <th class="text-left">
          eName
        </th>
        <th class="text-left">
          aName
        </th>
        <th class="text-left">
          Total
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            {{invoice.orderNo}}
          </td>
          <td>
            {{invoice.eName}}
          </td>
          <td>
            {{invoice.aName}}
          </td>
          <td>
            {{invoice.total}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center" *ngIf="!invoiceList || invoiceList.length==0">
      <span class="text-danger">
        No Data Found
      </span>
    </div>
  </div>
</div>