
.overlay {
    position: fixed;
    z-index: 1000;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    width: 9999px;
    height: 9999px;
    opacity: 0.2;
    background-color: black;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    box-shadow: rgba(0,0,0,0) 5px 5px 5px;
    background-color: white;
    padding: 10px;
}
