<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            Detail Invoice
          </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<app-invoice-list class="h-100 overflow-hidden" [invoiceList]="invoiceList"
    (invoiceId)="getInvoiceDetail($event)"
    (createInvoice)="showInvoiceForm($event)"></app-invoice-list>
<app-invoice-form *ngIf="showIt" (close)="closeModal($event)" (saveOrupdateDetails)="saveOrUpdateDetails($event)"></app-invoice-form>